* {
    margin: 0;
    padding: 0;
}

footer {
    /* border: 2px solid red; */
    background: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../assets/images/backgroundImage.jpg') no-repeat center/cover;
    background-attachment: fixed;
}

.footerContent {
    /* border: 2px solid rgb(17, 0, 255); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* margin: 30px auto; */
    /* padding: 20px auto; */
    /* height: 40vh; */
}

.footerHeading span {
    font-family: 'Dancing Script', cursive;
}

.footerContent .footerDescription {
    /* border: 1px solid black; */
    text-align: center;
    width: 50%;
}

.socialIcons {
    /* border: 2px solid white; */
    margin: 10px auto;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialIcons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.copyrigthDetails {
    /* border: 1px solid red; */
    width: 100%;
    background: rgba(78, 78, 78, 0.473);
}

@media only screen and (max-width: 995px) {

    .footerContent .footerDescription {
        /* border: 1px solid white; */
        width: 90%;
    }

    .socialIcons {
        /* border: 2px solid white; */
        margin: 10px auto;
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .copyrigthDetails{
        /* border: 1px solid red; */
    }

}