* {
    margin: 0;
    padding: 0;
}

.bookImg {
    width: 50%;
    /* background: url('../../assets/images/linchPin.jpeg') no-repeat center/cover; */
    box-shadow: 0px 0px 6px -.20px rgba(90, 90, 90, 0.367);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0px;
}

.bookImg img{
    margin: auto;
    width: 70%;
    height: 20rem;
}
.showBookDetailsContainer {
    /* border: 2px solid red; */
    background: rgba(255, 255, 255, 0.878);
    box-shadow: 0px 0px 5px -1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    height: 40rem;
}

.bookDetails {
    /* border: 2px solid green; */
    border-right: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 36rem;
    width: 100%;
}

.bookContent {
    /* border: 2px solid blue; */
    text-align: center;
    height: 40%;
}


/* ----------payment method------ */
.paymentMethod {
    /* border: 2px solid blue; */
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../assets/images/bookPaymentBg.jpeg') no-repeat center/cover;
    color: rgb(229, 229, 229);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 0px 0px;
    width: 90%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.paymentContent{
    /* border: 2px solid yellow; */
    margin: 5px 3.5px;
}

.paymentContent h2{
    padding: 0px 15px;
}


.paymentElements{
    /* border: 2px solid red; */
}

.cardDateDetails{
    /* border: 1px solid green; */
    display: flex;
   flex-direction: row;

}
.cardDateDetails input{
   /* width: 20%; */
   
}

.paymentBtns{
    /* border: 2px solid grey; */
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0px 12.5px;
}




