*{
    margin: 0;
    padding: 0;
}

.PageNotFound{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url('../images/backgroundImage.jpg') no-repeat center/cover; 
    color: white;   
}

.noPageContent{
    /* border: 2px solid yellow; */
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(46, 46, 46, 0.61);
}
.heading{
    /* border: 2px solid red; */
    font-weight: 700;
    mix-blend-mode: screen;
    /* background: rgba(0, 0, 0, 0); */
}